<%= render "layouts/sidebar" %>
  <div class="span8">
    <% @messages.each do |messages| %>
      <div class="content subBody">
          <div class="content">
            <div class="row show-grid">
          <div class="span5"><h3><small><%= get_user_name(messages.msg_from) %></small></h3></div>
          <div class="span2"><h3><small class="time"><%= messages.created_at %></small></h3></div>
            </div>
            <div class="row show-grid">
              <div class="span8"><p class="js-tweet-text tweet-text"><%= messages.body %></p></div>
            </div>
          </div>
      </div>
      <div class="row show-grid">&nbsp;</div>
    <% end %>
    <% if @message_new.msg_to.present? && @message_new.msg_to != current_user.id %>
      <div class="content subBody">
          <%= form_for @message_new, :url => {:action => 'create'} do |form| %>
            <%= render 'shared/form' , form: form %>
      	  <% end %>
      </div>
    <% end %>
  </div>


