<%= render "layouts/sidebar" %>
  <div class="span8 subBody">
    <div class='content page-solid entry-list'>
    <h3>贈る言葉</h3>
    </div>
        <% @messages.each do |messages| %>
          <div class='content page-solid entry-list padding20'>
            <div class='row show-grid'>
              <div class='span2'>
                <div class='row show-grid'><small>FROM:<%= get_user_name(messages.msg_from) %></small></div>
                <div class='row show-grid'><small>TO:<%= get_user_name(messages.msg_to) %></small></div>
              </div>
              <div class='span4'><p class="js-tweet-text tweet-text"><%= messages.body %></p></div>
              <div class='span1'>
                <%= button_to(
                  ">>返信",
                  { :controller => 'messages', :action => 'detail', :link_id => messages.link_id, :reply_id => messages.reply_id },
                  :class => 'btn-main',
                  :method => :get
                ) %>
              </div>
            </div>
          </div>
        <% end %>
  </div>


