  <div class="center hero-unit">
    <h1>Otsukare Message</h1>

    <p>message list</p>
    <ul>
          <div>
          	<table border="1" cellpadding="1" cellspacing="1">
    	      <% @messages.each do |messages| %>
          		<tr>
          			<td>from:<%= messages.msg_from %></td>
          			<td>to:<%= messages.msg_to %></td>
          			<td>user_id:<%= messages.user_id %></td>
          			<td>body:<%= messages.body %></td>
          			<td>reply_id:<%= messages.reply_id %></td>
          			<td>
          				<%= link_to(messages.msg_from, 
						  	:controller => 'messages',
						  	:action => 'detail', 
						  	:link_id => messages.link_id,
						  	:reply_id => messages.reply_id
						   ) %>
			        </td>
          		</tr>
              <% end %>
          	</table>
          </div>
    </ul>
  </div>


