<%= render "shared/errors", obj: @consent %>

  <div class="">
    <%= form.hidden_field :consent_user_id %>
    <%= form.hidden_field :entryr_id %>
    <%= form.hidden_field :user_id %>
  </div>
  <div class="">
    <%= form.submit "GJ!" %>
  </div>
