<%= render "layouts/sidebar" %>

<div class="span9">
<p class="notice"><%= notice %></p>
  <%= form_for @entry_new, :url => {:action => 'create'} do |form| %>
    <%= render 'tops/form' , form: form %>
	<% end %>

	<div id="content_list"></div>
	<br />
  <button class="btn btn-primary" id="more"><i class="icon-th-list"></i> もっと見る</button>
</div>

<%= javascript_include_tag 'entriesApi' %>