<!-- Navbar
================================================== -->
<div class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <div class="nav-collapse collapse">
        <ul class="nav">
          <li class="">
          	<%= link_to root_path do %>
			  <i class="icon-home icon-white"></i>Home
          	<% end %>
          </li>
　　   　　　　　<% if user_signed_in? %>
            <li class="">
          	  <a href="/messages/<%= current_user.id %>" data-method="get" rel="nofollow" >
          	  <i class="icon-envelope icon-white"></i>DM
          	  </a>
            </li>
　　　　　　　   <% end %>
　　　　　　　   <li class="">
	        <%= link_to "otsukareとは？", root_path %>
	      </li>
　　　　　　　   <% if user_signed_in? %>
			<li class="">
			  <%= link_to "ログイン：" + current_user.email %>
			</li>
			<li class="">
			  <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
	       </li>
　　　　　　　<% end %>
        </ul>
      </div>
    </div>
  </div>
</div>