<!DOCTYPE html>
<html>
<head>
  <title>Otsukare</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="container">
<%= render 'layouts/header' %>

<br />
<br />

<div id="sidebar">
  <%= render "layouts/sidebar" %>
</div>


<div id="content">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <%= yield %>
</div>

<div id="footer">
  <%= render "layouts/footer" %>
</div>

</div>
</body>
</html>
